@font-face {
  font-family: "JungleFever";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: 
    /* Если не получилось, загрузит woff2 */ url("/fonts/junglefevernf.ttf")
    format("truetype");
}

body {
  padding: 0;
  margin: 0;
}
